* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: color-adjuster($color-primary, xx-dark);
}

sup {
  font-size: .5em;
}

.flex-wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}