// import fonts if defined
@if variable-exists(font-url--primary) {
  @import url($font-url--primary);
}

@if variable-exists(font-url--headline) {
  @import url($font-url--headline);
}



.headline {
  @include m(lt) {
    color: color-adjuster($color-primary, xx-light);
    
  }
  @include m(med) {
    color: color-adjuster($color-primary, x-dark);
  }
  @include m(skinny) {
    font-weight: 300;
  }
}

[class^= headline] {
  @extend %headline;
}

.text {
  @include m(hidden) {
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}

p {
  font-family: $font-family--primary;
  color: color-adjuster($color-secondary, xx-dark);
}

a {
  text-decoration: none;
}