.nav {
  @include m(main) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color-adjuster($color-primary, dark);
    @include outsetter(color-adjuster($color-primary, dark), 4, false);
    @include mq() {
      height: 100vh;
      width: 4em;
      flex-direction: column;
      position: fixed;
      padding-top: 1em;
      justify-content: flex-start;
    }
  
  }
  @include m(graph) {
    padding-right: 0.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @include e(link) {
    @include m(icon) {
      border: 3px solid color-adjuster($color-primary, dark);
      &:hover {
        & .icon__path {
          fill: color-adjuster($color-complementary, light);
        }        
      }
      &.active {
        border-bottom: 3px solid color-adjuster($color-complementary, light);
        @include mq {
          border-bottom: 3px solid color-adjuster($color-primary, dark);
          border-left: 3px solid color-adjuster($color-complementary, light);
        }
        & .icon__path {
          fill: color-adjuster($color-complementary, light);
        }
      }
      & .icon {
        width: 3em;
        padding: .5em;
      }

    }
    @include m(pill-bar) {
      @extend %headline;
      font-weight: 700;
      background-color: color-adjuster($color-primary, dark);
      color: color-adjuster($color-primary, xx-light);
      padding: 0.5em;
      min-width: 75px;
      text-align: center;
      @include outsetter($stroke-width: 1);
      &:first-of-type {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      &:last-of-type {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      &.active {
        background-color: color-adjuster($color-complementary, dark);
        @include mq {
          box-shadow: 0 0 10px 1px color-adjuster($color-complementary), 0 0 15px 1px color-adjuster($color-complementary, xx-light) inset;
        }
      }
    }
  }
}