/* Media query selector 
 * @param $break-size size of media query breakpoint, defaults to medium
 */
/* 
 * theme related styling mixins 
 */
/* Creates an outset border on smaller screen and a similar box shadow on larger screens for a raised panel look
 * @param $color the base color to adjust the effects to, defaults to $primary-color
 * @param $stroke-width width of effect in pixels
 */
/* Creates an inset border on smaller screen and a similar box shadow on larger screens for a recessed panel look
 * @param $color the base color to adjust the effects to, defaults to $primary-color
 * @param $stroke-width width of effect in pixels
 */
/* BEM naming convention mixins */
/* element level */
/* modifier level */
/* inbetween two siblings of same type */
/* change color brightness
 * @param $base-color the color to be adjusted
 * @param $adjust-value the amount of lightening or darkening to perform, defaults to base
 */
/* Gets the valid keys from a map 
 * used for error messages to display valid options
 */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700");
[class^=headline], .nav__link--pill-bar {
  font-family: "Open Sans", sans-serif;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #32356d; }

sup {
  font-size: .5em; }

.flex-wrapper, .search-tab--wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center; }

.headline--lt {
  color: #fcfcfe; }
.headline--med {
  color: #454997; }
.headline--skinny {
  font-weight: 300; }

.text--hidden {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0; }

p {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #17424a; }

a {
  text-decoration: none; }

.header {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  background-color: #8c8fca;
  padding: .2em 1em;
  align-items: center;
  justify-content: space-between;
  border: 4px outset #b6b8de;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .header {
      border: none;
      box-shadow: -4px -4px 5px 0 #454997 inset, 3px 3px 5px 0 #b6b8de inset; } }
  @media (min-width: 480px) {
    .header {
      flex-flow: row wrap; } }
  @media (min-width: 768px) {
    .header {
      position: fixed;
      margin-top: -3.6em;
      width: 100%;
      padding: 0.45em 1.15em;
      z-index: 100; } }
  .header__headline {
    flex-basis: 100%;
    text-align: center; }
    @media (min-width: 480px) {
      .header__headline {
        flex-basis: initial;
        text-align: left; } }
  .header__information {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%; }
    @media (min-width: 480px) {
      .header__information {
        align-content: flex-end;
        flex-basis: initial; } }

.icon--header {
  height: 2em; }

.svg-wrapper--success {
  align-self: center;
  padding-top: .2em; }
  .svg-wrapper--success::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #66eeaa;
    transform: translateY(-25px) translateX(-5px);
    border: 1px solid #6366b7; }
    @media (min-width: 768px) {
      .svg-wrapper--success::after {
        box-shadow: -1px -1px 3px 0 #108d4e inset, 2px 2px 3px 0 #d4fae7 inset, 0 0 4px 1px #9df4c9; } }

.user-profile {
  display: flex;
  align-items: center;
  border-left: 2px solid #6366b7; }

.nav--main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6366b7;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .nav--main {
      border: none;
      box-shadow: -4px -4px 5px 0 #32356d inset, 3px 3px 5px 0 #8c8fca inset; } }
  @media (min-width: 768px) {
    .nav--main {
      height: 100vh;
      width: 4em;
      flex-direction: column;
      position: fixed;
      padding-top: 1em;
      justify-content: flex-start; } }
.nav--graph {
  padding-right: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
.nav__link--icon {
  border: 3px solid #6366b7; }
  .nav__link--icon:hover .icon__path {
    fill: #a5dfac; }
  .nav__link--icon.active {
    border-bottom: 3px solid #a5dfac; }
    @media (min-width: 768px) {
      .nav__link--icon.active {
        border-bottom: 3px solid #6366b7;
        border-left: 3px solid #a5dfac; } }
    .nav__link--icon.active .icon__path {
      fill: #a5dfac; }
  .nav__link--icon .icon {
    width: 3em;
    padding: .5em; }
.nav__link--pill-bar {
  font-weight: 700;
  background-color: #6366b7;
  color: #fcfcfe;
  padding: 0.5em;
  min-width: 75px;
  text-align: center;
  border: 1px outset #b6b8de;
  border-radius: 0px; }
  @media (min-width: 768px) {
    .nav__link--pill-bar {
      border: none;
      box-shadow: -1px -1px 2px 0 #454997 inset, 0px 0px 2px 0 #b6b8de inset; } }
  .nav__link--pill-bar:first-of-type {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; }
  .nav__link--pill-bar:last-of-type {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; }
  .nav__link--pill-bar.active {
    background-color: #4bbf58; }
    @media (min-width: 768px) {
      .nav__link--pill-bar.active {
        box-shadow: 0 0 10px 1px #78CF82, 0 0 15px 1px #f0faf1 inset; } }

.dashboard {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .dashboard {
      padding-left: 4em;
      flex-flow: row wrap; } }

.title {
  padding: 0.2em 0.5em; }

#search-site {
  min-width: 250px;
  height: 2.5em;
  padding-left: 0.5em;
  outline: none;
  border-radius: 4px; }

.search--wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 100%;
  padding: 0.5em;
  border-radius: 2px; }
  @media (min-width: 768px) {
    .search--wrapper {
      border: none;
      box-shadow: -3px -3px 4px 0 #6366b7 inset, 2px 2px 4px 0 #1f2043 inset; } }

@media (min-width: 768px) {
  .search-tab--wrapper {
    padding-left: 4em;
    margin-top: 3.6em; } }

.tab {
  background-color: #fcfcfe;
  padding: .5em 1em;
  border-radius: 2px;
  min-width: 150px;
  text-align: center;
  text-transform: capitalize; }
  @media (min-width: 768px) {
    .tab {
      border: none;
      box-shadow: -3px -3px 4px 0 #a8aad7 inset, 2px 2px 4px 0 white inset; } }

.social {
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  @media (min-width: 768px) {
    .social {
      flex-direction: row; } }
  .social__widget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #eeeff7;
    padding: 1em;
    flex-basis: 25%;
    border: 1px inset white;
    border-radius: 8px; }
    @media (min-width: 768px) {
      .social__widget {
        border: none;
        box-shadow: -1px -1px 2px 0 white inset, 0px 0px 2px 0 #9a9dd1 inset; } }
    @media (min-width: 768px) {
      .social__widget {
        flex-direction: column; } }
    @media (min-width: 1024px) {
      .social__widget {
        flex-direction: row; } }
    .social__widget--icon {
      height: 5em;
      width: 5em;
      background-color: #6366b7;
      padding: 1.25em;
      border-radius: 50%;
      border-radius: 50%; }
      @media (min-width: 768px) {
        .social__widget--icon {
          border: none;
          box-shadow: -5px -5px 6px 0 #8c8fca inset, 4px 4px 6px 0 #32356d inset; } }
    .social__widget--info {
      text-align: center; }
    .social__widget--text {
      font-size: 2.5em;
      margin: .25em; }

.icon--social {
  height: 3em; }

.icon--facebook {
  margin-top: -.3em; }

.card {
  min-height: 4em;
  background-color: #fcfcfe;
  border: 1.5px inset white;
  border-radius: 0.5px; }
  @media (min-width: 768px) {
    .card {
      border: none;
      box-shadow: -1.5px -1.5px 2.5px 0 white inset, 0.5px 0.5px 2.5px 0 #8c8fca inset; } }
  .card--half {
    flex-basis: 50%; }
  .card--full {
    flex-basis: 100%; }

[class^=card] {
  padding: 0.5em 0; }

.graph__container {
  position: relative;
  width: 100%; }
  .card--half .graph__container {
    width: 90%; }

.icon__path {
  fill: #fcfcfe; }

.img--avatar {
  border-radius: 50%;
  height: 2.5em;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: 0 0 1px 1px #e0e1f1; }

/*# sourceMappingURL=index.css.map */
